<div *ngIf="weather$ | async as cityWeather" style="text-align: center;">
    <h1> {{ cityWeather.name }} </h1>
    <h2> {{cityWeather.main.temp | number:'1.0-0'}} &#8451;, humidity: {{cityWeather.main.humidity}} %, Wind: {{cityWeather.wind.speed | number:'1.0-0'}} meter/sec</h2>
   <div> {{ cityWeather.weather[0].description }} </div>
    <h2>min: {{ minTemp }}, max: {{ maxTemp }}</h2>
</div>

<ul style="text-align: center; list-style: none;">
    <li *ngFor="let state of myForecast"> 
        {{ state.day }}
        {{ state.main }}
        {{ state.temp }}
    </li>
    
</ul>
